*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
}

p,li{
	font-family: 'Lato', sans-serif;
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}

/*Start Channel-panel*/
.wrapper-channel{
    background: rgb(40, 42, 41);
    flex-grow: 0;
    flex-basis: 75px;
    display:  flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 70px;
}

.channel-items{
    margin-top: 15px;
    align-self: center;

}

.channel-items>img{
    height: 45px;
    width: 45px;
    border-radius: 5px;
}

.channel-items>p{
    text-align: center;
    color: #B8B8B8;
}

.channel-items:hover{
    cursor: pointer;
}
/*End Channel-panel*/

/* Start contact-panel */
.wrapper-contact{
    flex-grow: 0;
    flex-basis: 225px;
    background: rgb(77, 57, 75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 220px;
}

.head-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.head-contact-left>p{
    font-size: 15px;
    color: white;
}

.head-contact .fa.fa-bell-o{
    color: #B8B8B8;
}

.head-contact:hover{
    opacity: 1;
    cursor: pointer;
    background: #434745;
}

.fa.fa-bell-o:hover{
    color: white;
}

.head-contact-left span{
    font-size: 15px;
    margin-left: 2px;
    color: #B8B8B8;
}

.head-contact-left {
    font-size: 12px;
    margin-right: 2px;
}

.all-threads{
    padding: 5px 15px 10px;
    color: #B8B8B8;
    margin-bottom: 25px;
}

.fa-commenting-o{
    margin-right: 2px;
}

.all-threads:hover{
    background: rgb(97, 97, 97);
    cursor: pointer;
}

.contacts{
    color: #B8B8B8;
    list-style-type: none;
    margin-bottom: 25px;
}

.contacts>p{
    margin-left: 15px;
    margin-right: 10px;
    font-size: 18px;
    color: #B8B8B8;
}

.contacts>p>i{
    float: right;
    font-size: 20px;
    line-height: 1.4;
}

.contacts>li{
    font-size: 18px;
    color: #B8B8B8;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

.contacts>li>i{
    margin: 5px 5px 0 15px;
    font-size: 10px;
}

ul.contacts li:hover{
    background: rgb(97, 97, 97);
    cursor: pointer;
}

ul.contacts p:hover{
    color: white;
    cursor: pointer;
}

.fa-heart, .fa-circle{
    color: green;
}


.contact-search{
    margin-bottom: 15px;
    align-self: center;
    color: #B8B8B8;
}

.contact-search i:hover{
    cursor: pointer;
    color: white;
}

/* End contact-panel */
/* Start message panel */
.wrapper-message{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.hat-container{
    padding: 7px 7px 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #cfcece;
}

.left-items{
    color:#B8B8B8
}

.left-items .name-room{
    font-size: 18px;
    font-weight: bold; 
    color: black;
    margin-bottom: 5px;
}

.left-items .name-room:hover{
    cursor: pointer;
}

.tools{
    font-size: 13px;
}

.fa-star-o{
    margin-right: 7px;
}

.fa-user-o, .fa-thumb-tack{
    margin-left: 7px;
    margin-right: 7px;
}

.topic{
    padding: 4px;
}

tools .count{
    margin-left: 7px;
}

.tools .topic:hover{
    border-color: #717274;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid;
}

.tools .edit-topic:hover{
    visibility: visible;
    text-decoration: underline;
    cursor: pointer;
}

.tools .fa-thumb-tack:hover, .fa-user-o:hover{
    color: blue;
    cursor: pointer;
}

.right-items{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1.3em;
    color: #B8B8B8;
}

.right-items>div{
    padding: 5px;
}

.right-items>form i.fa-search{
    position: absolute;
    padding: 5px;
}

.right-items input{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 8px 60px;
    padding-left: 30px;
}

.right-items input:focus{
    width: 320px;
}

.fa-cog:hover{
    color: blue;
    cursor: pointer;
}

.hat-circle{
    color:#777777;
    background-color: #d8d8d8;
    border-radius: 5px;
}

.fa-info-circle:hover{
    cursor: pointer;
}

.fa-at:hover{
    color: red;
    cursor: pointer;    
}

.fa-star-o:hover{
    color: yellow;
    cursor: pointer;   
}

.fa-ellipsis-v:hover{
    color:blue;
    cursor: pointer;
}

.fa-phone:hover{
    color:blue;
    cursor: pointer;
}

.message-container{
    height: 100%;
    display: flex;
    flex-direction: row;
}

.main-message{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.msg-container{
    overflow-y: auto;
    height: 95%;
}

.date{
    position: sticky;
    top: 0px;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    display: flex;
}

.line{
    display: inline-block;
    width: 50%;
    border: 0.5px solid lightgray;
    margin: auto;
}

.message .msg-head{
    font-weight: bold;
}

.main-message .dateName{
    flex-shrink: 0;
    font-size: 17px;
    padding: 0 10px;
}

.message .date-time {
    color: #717274;
    font-size: 12px;
    white-space: nowrap;
    font-weight: 300;
}

.main-message .message {
    display: flex;
    justify-content: flex-start;
    padding: 20px 15px;
    cursor: pointer;
}

.main-message .user-photo>img{
    width: 35px;
    height: 35px;
}

.message .msg-content {
    padding: 0 5px;
    font-family: Slack-Lato, sans-serif;
    color: #2c2d30;
    font-size: 15px;
    line-height: 18px;
}










.intput-container{
    width: 90%;
    height: 45px;
    outline: none;
    display: flex;
    margin: 0 0 10px 10px;
    max-width: 50vw;
}

.intput-container .input-msg{
    border: 2px solid gray;
    border-radius: 0 5px 5px 0;
    width: 99%;
    padding: 10px 10px;
    padding-right: 75px;
    outline: none;
    overflow: auto;
}

.msg-attach{
    background: inherit;
    border: 2px solid gray;
    border-right: none;
    border-radius: 5px 0 0 5px;
    width: 42px;
    color: grey;
}

.msg-attach:hover{
    background: green;
    color: white;
    cursor: pointer;
}

form.input-container .input-msg{
    padding: 10px 5px;
    padding-right: 75px;
    border: 2px solid gray;
    border-radius: 4px 4px 4px 4px;
}

form.intput-container .input-msg[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-ph);
    color: gray;
}

.intput-container a{
    position: relative;
    font-size: 1.3em;
    color: gray;
}

.msg-at{
    right: 70px;
    top: 10px;
} 

.msg-smile{
    right: 60px;
    top: 10px;
}

.intput-container .msg-at .fa-at:hover{
    color: blue;
}

.intput-container .msg-smile .fa-smile-o:hover{
    color: yellow;
    cursor: pointer;
}




.details-panel{
    flex-grow: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 340px;
    border-left: 1px solid #cfcece;
}

.pinned{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about{
    height: 60px;
    border-bottom: 0.5px solid #cfcece;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E7E7E7; 
}

.about .left{
    margin: 5px 5px;
    font-size: 18px;
}

.about .right{
    margin: 0px 10px;
}

.about .right i:hover{
    cursor: pointer;
    color: blue;
}

.pinned .channel{
    height: 60px;
    border-bottom: 0.5px solid #cfcece;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.channel .item-1{
    margin: 5px 5px;
}

.channel .item-2{
    flex-grow: 1;
}

.channel .item-3{
    margin: 0 10px;
}

.channel:hover{
    cursor: pointer;
    opacity: 0.8;
}

.pinned .channel-pinned{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.channel-pinned .item-2{
    flex-grow: 1;
}

.channel-pinned .item-3{
    margin: 0 10px;
}

.channel-pinned .item-3:hover{
    cursor: pointer;
    opacity: 0.8;
}








