*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

/* Channel left panel */
.channel-flex-container{
    display: flex;
    flex-direction: column;
    width: 75px;
    height: 100%;
    background: rgb(40, 42, 41);
    justify-content: flex-start;
    align-items: center;
}
.channel-flex-elements{
    margin: 10px 0;
}

.channel-flex-elements>img{
    height: 45px;
    width: 45px;
}
.channel-flex-elements>p{
    text-align: center;
    color: #B8B8B8;
}

/* Contacts panel */
.contact-flex-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px;
    background: rgb(77, 57, 75);
}

.contact-notifications{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:  10px 10px 0 10px;
}

.contact-channels{
    margin-top: 25px;
    color: #B8B8B8;
    list-style-type: none;
}

.contact-channels>p{
    margin-left: 15px;
    margin-right: 10px;
    font-size: 18px;
    color: #B8B8B8;
}

.contact-channels>p>i{
    float: right;
    font-size: 20px;
}

.contact-channels>li{
    font-size: 18px;
    color: #B8B8B8;
}

.contact-channels>li>i{
    margin: 5px 5px 0 15px;
    font-size: 10px;
}

ul.contact-channels  li:hover{
    background: rgb(76, 150, 137);
    cursor: pointer;
}

ul.contact-channels p:hover{
    color: white;
    cursor: pointer;
}
















.message-flex-container{
    height: 100%;
    width: 100%;
    background: #FFFFFF;
}




